<params>
   <name>drone1</name>
   <ineria>
      <mass>4.7</mass>
      <Ix>0.075</Ix>
      <Iy>0.085</Iy>
      <Iz>0.13</Iz>
      <Ixy>0.0</Ixy>
      <Ixz>0.0</Ixz>
      <Iyz>0.0</Iyz>
   </ineria>
   <rotors> 
      <no>4</no>
      <forceCoff>0.000071</forceCoff>
      <torqueCoff>0.0000019</torqueCoff>
      <positions>
         <item>0.25 0.25 -0.1</item>
         <item>-0.25 0.25 -0.1</item>
         <item>-0.25 -0.25 -0.1</item>
         <item>0.25 -0.25 -0.1</item>
      </positions>
      <direction>
         <item>1</item>
         <item>-1</item>
         <item>1</item>
         <item>-1</item>
      </direction>
      <timeConstants>
         <item>0.05</item>
         <item>0.05</item>
         <item>0.05</item>
         <item>0.05</item>
      </timeConstants>
   </rotors>
   <aero>
      <S>0.0225</S>
      <d>0.01</d>
      <C>0.47 0.47 0.47 0.0 0.0 0.0</C>
   </aero>
</params>